@charset "UTF-8";
.g-wrap {
  width: 892px;
  margin: 0 auto; }

/* 头部 g-hd */
.g-hd {
  height: 61px;
  margin-bottom: 30px; }
  .g-hd .link {
    position: relative;
    width: 100px;
    height: 61px;
    background-color: #d45d5c; }
    .g-hd .link a {
      position: absolute;
      width: 100%;
      bottom: 5px;
      text-align: center;
      color: white; }
  .g-hd .time {
    float: right;
    margin-top: 44px;
    font-size: 12px;
    color: #d45d5c; }
  .g-hd .line {
    width: 892px;
    height: 2px;
    border: 0;
    background: #938e8c; }

/* 侧边栏 g-sd */
.g-sd {
  position: relative;
  float: right;
  width: 204px; }
  .g-sd .line {
    width: 202px;
    height: 2px;
    margin-bottom: 10px;
    background: #cc8091;
    border: 0; }
  .g-sd h3 {
    padding: 1px 0;
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
    font-variant: small-caps; }
  .g-sd .lower {
    margin-top: 5px;
    line-height: 10px;
    color: #676767;
    font-size: 12px;
    font-family: '楷体';
    font-style: italic; }
  .g-sd .num {
    color: #75b86b;
    font-weight: bold;
    font-size: 116px;
    font-family: 'Microsoft YaHei'; }
  .g-sd .text1 {
    color: #cc8091;
    font-size: 55px; }
  .g-sd .text2 {
    position: absolute;
    bottom: 20px;
    color: #cc8091;
    font-size: 20px; }
  .g-sd .text3 {
    color: #999;
    font-size: 12px; }

/* 主文章 g-art */
.m-art1 {
  width: 640px;
  /* 公共样式 %shade */
  /* /公共样式 %shade */
  /* 公共样式 %tab*/
  /* /公共样式 %tab */ }
  .m-art1 .pic {
    position: relative;
    margin-bottom: 30px; }
  .m-art1 .shadeL, .m-art1 .shadeR {
    position: absolute;
    width: 190px;
    height: 300px; }
  .m-art1 .shadeL {
    top: 0;
    left: 0;
    background: rgba(61, 145, 64, 0.4); }
  .m-art1 .shadeR {
    top: 0;
    right: 0;
    background: rgba(255, 128, 114, 0.4); }
  .m-art1 .tab-what, .m-art1 .tab-when, .m-art1 .tab-how {
    float: left;
    margin-right: 20px;
    font-size: 12px; }
    .m-art1 .tab-what .saying, .m-art1 .tab-when .saying, .m-art1 .tab-how .saying {
      padding: 3px 0;
      letter-spacing: 0.1em;
      line-height: 14px;
      opacity: 0.7;
      filter: alpha(opacity=70); }
    .m-art1 .tab-what h4, .m-art1 .tab-when h4, .m-art1 .tab-how h4 {
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline; }
  .m-art1 .tab-what {
    width: 220px; }
    .m-art1 .tab-what h4 {
      color: #418c59; }
  .m-art1 .tab-when {
    width: 200px; }
    .m-art1 .tab-when h4 {
      color: #d2994f; }
  .m-art1 .tab-how {
    width: 150px; }
    .m-art1 .tab-how h4 {
      color: #cc7680; }
    .m-art1 .tab-how .progress {
      font-size: 14px;
      line-height: 16px; }
    .m-art1 .tab-how .percent {
      font-size: 12px;
      font-style: italic;
      color: #cd4a48;
      opacity: 0.7;
      filter: alpha(opacity=70); }

/* 文章2 m-art2 */
.m-art2 {
  width: 892px;
  margin: 0 auto;
  margin-top: 50px; }

/* 文章2正文 g-text */
/* h2,h3字体颜色 */
.g-text {
  width: 414px;
  /* 首字下垂 z-front */
  /* 首行缩进 z-indent */ }
  .g-text h2 {
    font-family: "黑体";
    font-size: 42px;
    line-height: 42px;
    color: #11456b; }
    .g-text h2 .front {
      font-size: 72px;
      font-style: italic;
      color: #f5e327; }
  .g-text h3 {
    font-family: "黑体";
    font-size: 33px;
    color: #11456b; }
  .g-text .line {
    width: 414px;
    height: 2px;
    margin: 15px 0;
    border: 0;
    background: #11456b; }
  .g-text p {
    font-size: 12px;
    line-height: 16px;
    color: #767777;
    letter-spacing: 0.1em; }
  .g-text .z-front:first-letter {
    float: left;
    color: #f5e327;
    font: 70px 'Microsoft YaHei';
    margin: 0 5px 0 3px; }
  .g-text .z-indent {
    text-indent: 2em; }
  .g-text .ill {
    float: right;
    margin: 20px 0 20px 20px; }

/* 文章2左侧区域 g-sect */
.g-sect {
  width: 458px; }

/* 图文模块 m-workfit */
.m-workfit {
  position: relative;
  height: 257px;
  /* 遮罩层 */ }
  .m-workfit .shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5); }
  .m-workfit .img_text {
    position: absolute;
    padding-left: 12px;
    border-left: 3px solid #72b16a;
    left: 30px;
    bottom: 6px;
    color: white;
    line-height: 44px;
    font-size: 26px;
    font-family: 'Microsoft YaHei'; }
  .m-workfit .subtext {
    font-size: 12px;
    font-style: italic;
    color: #72b16a; }

/* 热点模块 m-hot */
.m-hot {
  width: 459px;
  height: 318px;
  margin-top: 30px;
  background: #eeedd6;
  /* 首尾标点符号 %quotn */ }
  .m-hot .menu {
    padding: 30px 20px 20px 50px; }
    .m-hot .menu li {
      color: #5a5b5b;
      font-size: 16px;
      font-family: '宋体';
      line-height: 34px;
      list-style-image: url(../images/triangle.png); }
    .m-hot .menu .author {
      font-size: 12px;
      font-style: italic; }
  .m-hot .introduce {
    float: right;
    width: 184px;
    color: #5a5b5b;
    line-height: 20px;
    font-size: 14px;
    font-family: '黑体';
    font-style: italic; }
  .m-hot .quotn_start, .m-hot .quotn_end {
    display: inline-block;
    color: #d45d5c;
    font-size: 72px;
    font-style: normal; }
  .m-hot .quotn_start {
    float: left;
    margin: 22px 8px -10px -39px; }
  .m-hot .quotn_end {
    float: right;
    margin: 28px -19px 0px 0px; }

/* 广告模块 m-ad */
.m-ad {
  padding: 36px 10px 0 10px;
  width: 240px;
  height: 124px;
  background: #d45d5c;
  font-family: 'Microsoft YaHei'; }
  .m-ad .num {
    float: left;
    margin: 0 8px 0 0;
    line-height: 86px;
    color: white;
    border-right: 2px solid white;
    font-size: 110px; }
  .m-ad .tt {
    font-size: 18px;
    font-style: italic;
    color: white;
    line-height: 24px; }
  .m-ad .text {
    color: white;
    line-height: 14px;
    font-family: '黑体'; }

/* 底部 g-ft */
.g-ft .line {
  margin-top: 20px;
  height: 1px;
  border: 0;
  background: #938e8c; }
.g-ft p {
  text-align: right;
  line-height: 22px; }
  .g-ft p a {
    color: #d45d5c; }

/*# sourceMappingURL=1-6.css.map */
