.c-login{
	display:block;
	float:right;
	padding:0 30px;
	line-height:50px;
	color:white;
	vertical-align:middle;

	span{
		vertical-align:middle;
	}

	&:hover{
		color:white;
	}
}

.nav-sidebar{
	a{
		color:#6e8095;
	}

	span{
		margin-right:14px;
	}
}

.m-account{
	.profile{
		float:left;
		width:58px;
		height:58px;
		padding:4px;
		margin-left:24px;
		border:1px solid white;
		border-radius:50%;

		img{
			width:100%;
			height:100%;
			border-radius:50%;
		}

	}
	.name{
		padding-left:100px;
		color:white;
		line-height:58px;
	}

	color:#6e8095;

	.popularity{
		margin:15px 0 15px 42px;
	}
	.collect, .audience{
		width:80px;
		float:left;
	}
}

.m-inquiry{
	font-size:12px;
	padding:14px 28px;
	background:#fff;
	border:1px solid #dddee0;

	>div{
		float:left;
		margin-right:22px;
	}

	label{
		margin-right:16px;
		color:#aaa;
	}

	.dealer{
		width:118px;
	}

	select{
		margin-right:14px;
		padding:6px 10px;
	}
	input{
		margin-right:14px;
		padding:4px 13px;
	}

	.date{
		width:116px;
	}

	.people{
		width:66px;
	}

	.sub_btn{
		margin-top:24px;
	}

}