.g-mn{
    overflow: hidden;
}


.m-tt {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.m-ct .school {
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.m-ct .job {
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.m-ct .job input {
    width: 200px;
}



